@use '../../styles/colors.scss' as colors;

.tests {
  height: 100%;
  // border-radius: 4px;
  min-height: 300px;
  margin-left: -1px;
  position: relative;
  
  .section-header {
    justify-content: space-between;
    padding: 4px 8px;
    border-bottom: 2px solid colors.$charcoal;
    color:white;

    .title {
      padding: 4px;
      font-weight: bold;
    }
  }

  .test-actions {
    background-color: colors.$uq-lightpink;

    .section-header {
      background-color: colors.$blush;

      .run-all {
        svg {
          margin-right: 0.5em;
        }

        &:hover {
          background-color: colors.$uq-darkpurple;
        }
      }
    }
  }

  .granary {
    background-color: colors.$celeste;
    border-left: 1px solid black;

    .section-header {
      background-color: colors.$celadon;
    }
  }

  .text-area {
    min-height: 120px;
  }

  .under-construction {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 15em;
    right: 0;
    background-color: rgba(0,0,0,0.7);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .header {
      border: none;
      font-size: 24px;

      span {
        margin-left: 8px;
      }
    }
  }
}
