@use '../../styles/colors.scss' as colors;

.editor-view {
  padding: 0 !important;
  height: calc(100vh - 32px); 
  width: 100%;
  background: white;
  position: relative;
  overflow: hidden;

  border-top: 2px solid colors.$blush;
  margin-left: -1px;

  .assets {
    font-family: monospace monospace;
  }

  .submission-confirmation {
    padding: 16px;
    border-radius: 4px;
    background-color: colors.$light-gray;
    max-width: 400px;
  }
}
