@use '../../styles/colors.scss' as colors;

.repl-view {
  .ships {
    height: 100%;
    align-self: flex-start;
    
    .ship {
      background: colors.$uq-vlightpurple;
      border-color: transparent;
      box-shadow: none;
      cursor: pointer;
      opacity: 0.8;
      max-width: 16em;

      &:hover {
        opacity: 1;
      }

      &.active {
        opacity: 1;
        background: white;
        border-color: black;
      }
    }

    .input-container {
      max-width: 90%;
      .input {
        border: none;
        border-radius: 4px;
        max-width: 90%;
      }
    }
  }
  .mid {
    flex-grow: 1;
    margin: 0 1em;
    height: 100%;
    align-self: flex-start;

    .tabs {
      .tab {
        &:first-of-type {
          margin-left: 3px;
        }
        
        padding: 0.5em 1em;
        margin: 0 0 -1px 0;
        border: 1px solid colors.$medium-gray;
        border-radius: 5px 5px 0 0;
        background: colors.$uq-vlightpurple;
        cursor: pointer;

        &:hover{
          background: white;
        }

        &.active {
          background: white;
          border-color: colors.$midnightpurp;
        }
      }
    }

    .tab-body {
      height: 100%;

      &.state {

        .states-views {
          flex-grow: 1;
          
          .views {
            align-self: flex-start;
            max-width: 256px;
          }
        }
        
        .input {
          .input-container {
            flex-grow: 1;
            
            input {
              border: none;
              border-radius: 4px;
              background: colors.$uq-vlightpurple;
              padding: 0.5em;
              margin-right: 0.5em;
            }
          }
          
          button {
            border: none;
            background-color: colors.$celeste;
            font-weight: bold;
          }
        }
      }

      &.events {
        .events-table {
          .tr {
            display: grid;
            grid-template-columns: 1fr 1fr 8fr;

            :last-child {
              border-right: 1px solid transparent;
            }
          }

          .td {
            padding: 0.25em 0.5em;

            &.mono {
              font-size: smaller;
            }
          }

          .th {
            border-bottom: 1px solid;
            border-right: 1px solid;
          }
        }
      }

      &.tests {
        max-height: 90vh;

        button {
          border-radius: 4px;
          padding: 0.125em 0.25em;
          background-color: colors.$light-wight;
          margin-left: 0.125em;
  
          &:hover {
            background-color: colors.$uq-pink;
          }
  
          &:active {
            color: white;
            background-color: colors.$midnightpurp;
            transform: scale(1);
          }
        }

        .test {
          margin: 0.5em 0;
          padding: 0.5em;
          background-color: colors.$cornsilk;
          box-shadow: 1px 1px 0px colors.$medium-gray;

          option {
            cursor: pointer;

            &:hover {
              background-color: colors.$laffron;
            }
          }

          .test-step {
            .grip {
              cursor: row-resize;
            }

            // button {
            //   visibility: hidden;
            // }

            // &:hover {
            //   button {
            //     visibility: visible;
            //   }
            // }
          }

          .imports {
            .import {

              // button { 
              //   visibility: hidden;
              // }
              
              // &:hover {
              //   button {
              //     visibility: visible;
              //   }
              // }
            }
          }
          
          .input-container {
            max-width: 256px;
            input {
              border: none;
              border-radius: 4px;
              height: 100%;
            }
          }

          .buttons {
            margin-left: auto;
          }

          &.new button {
            border: 1px solid transparent;
          }

          .add-import {
            .input-container, input {
              max-width: 200px;
            }
          }
        }
      }
    }
  }

  .pokes-scries {
    height: 100%;
    min-width: 256px;
    align-self: flex-start;

    .card {
      overflow: visible;

      .header {
        .text {
          font-size: medium;
          font-weight: 400;
        }
      }
    }
    
    .poke, .scry {
      margin-top: 0.5em;
      padding: 0.25em 0.5em;
      box-shadow: 1px 1px 1px colors.$medium-gray;

      .expander {
        margin-right: 4px;
      }

      .showable {
        visibility: hidden;
        height: 0px;

        &.show {
          visibility: visible;
          height: auto;
        }
      }

      .buttons {
        margin-left: auto;
        
        button {
          border-radius: 4px;
          padding: 0.125em 0.25em;
          background-color: colors.$light-wight;
          margin-left: 0.125em;
  
          &:hover {
            background-color: colors.$uq-pink;
          }
  
          &:active {
            color: white;
            background-color: colors.$midnightpurp;
            transform: scale(1);
          }
        }
      }


      .input-container {
        align-self: stretch;
        flex-grow: 1;

        .pokeData, .scryData {
          border: none;
          border-radius: 4px;
          height: 100%;
        }
      }

      .dropdown {
        border-radius: 4px;
        margin-right: 0.25em;

        .content-border {
          width: 100%;
        }

        option {
          cursor: pointer;
          padding: 0.25em 0.5em;
          border-radius: 4px;
           
          &:hover {
            background-color: colors.$uq-lightpurple;
          }
        }
      }
    }

    .poke {
      background: colors.$uq-lightpink;

      &.new {
        background-color: colors.$uq-vlightpink;
      }

      .dropdown {
        background-color: colors.$uq-vlightpink;
      }

      .input {
        max-width: 136px;
      }
    }

    .scry {
      background: colors.$celeste;

      &.new {
        background-color: colors.$apocyan;
      }

      .dropdown {
        background-color: colors.$lapocyan;
      }
    }

    .test {
      background: colors.$laffron;
    }
  }
}