.hex {
  width: 100%; 

  &.colors {
    .color-dot {
      margin: 0 0.5em;
      align-self: center;

      height: 0.9em;
      min-height: 0.9em;
      width: 0.9em;
      min-width: 0.9em;
      
      border: 3px solid;
      border-radius: 999px;

      outline: 1px solid black;
    }
  }
}
