.hex {
  width: 100%; 

  &.colors {
    .color-dot {
      margin-right: 0.5em;
      
      height: 1em;
      min-height: 1em;
      width: 1em;
      min-width: 1em;
      
      border: 3px solid;
      border-radius: 999px;

      outline: 1px solid black;
    }
  }
}
