@use '../../styles/colors.scss' as colors;

.pill {
  margin: 0 0.25em; 
  
  .label {
    padding: 0.25em 0.5em; 
    border-top-left-radius: 999px;
    border-bottom-left-radius: 999px;
    
    &.turq {
      background-color: colors.$turq;
    }
    
    &.pink {
      background-color: colors.$uq-darkpink;
    }
  }
  
  .value {
    padding: 0.25em 0.5em;
    border-top-right-radius: 999px;
    border-bottom-right-radius: 999px;

    background-color: white;
  }
}

