.text {
  line-height: 1.33333;

  &.mono {
    font-family: monospace, monospace;
  }

  &.one-line, &.oneLine {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &.breakAll {
    word-break: break-all;
  }

  &.large {
    font-size: x-large;
  }

  &.bold {
    font-weight: 600;
  }
}
