@use '../../styles/colors.scss' as colors;

button.button {

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;


  color: black;
  background: white;
  width: fit-content;
  font-size: 16px;
  padding: 8px 16px;
  border-radius: 4px;
  border: 1px solid black;
  cursor: pointer;
  transition: all 0.1s;

  &:hover {
    background: colors.$uq-lightpurple;
  }

  &.dark {
    color: white;
    background: black;
    border-color: transparent;

    &:hover {
      background: colors.$uq-darkpink;
    }
  }

  &.slim { 
    border: 1px solid transparent;
    border-radius: 4px;
    padding: 0.125em 0.25em;
    background-color: colors.$light-wight;
    margin-left: 0.125em;

    &:hover {
      background-color: colors.$uq-pink;
    }

    &:active {
      color: white;
      background-color: colors.$midnightpurp;
      transform: scale(1);
    }

    &.fullWidth{
      width: 99%;
    }
  }

  &.small {
    padding: 4px 8px;
    font-size: 14px;
  }

  &.wide {
    min-width: 10em;
  }

  &.xwide {
    min-width: 20em;
  }

  &.fullWidth {
    width: 100%;
  }
  
  &.unstyled {
    color: inherit;
    background: inherit;
    padding: 0;
    border: none;

    &:hover {
      transform: scale(1.1);
    }
  }

  &.expander {
    margin-right: 8px;
    margin-top: 2px;
    align-self: flex-start;
  }

  &[disabled]{
    background-color: colors.$light-gray;
    outline: 1px dashed black;
    color:black;
    pointer-events: none;
    border: 1px solid transparent;
  }
}
