@use '../../styles/colors.scss' as colors;

.open-file-header {
  background: lightgray;
  height: 32px;
  overflow-x: scroll;

  .tab {
    text-decoration: none;
    padding: 10px 8px;
    align-items: center;
    cursor: pointer;
    
    flex-direction: row;
    justify-content: space-between;
    display: flex;

    flex-grow: 1;
    height: 100%;

    border-right: 1px solid gray;
    white-space: nowrap;

    &.selected {
      background-color: white;
      
      .close {  
        visibility: visible;
      }
    }

    &:hover {
      text-decoration: none;
      
      .close {  
        visibility: visible;
      }
    }

    .close {
      visibility: hidden;
      margin-top: 2px;
    }
  }

  .sub-tab {
    padding: 4px 8px;
    font-size: 14px;
    width: 80px;
    cursor: pointer;
    background-color: white;
    justify-content: center;

    &:last-of-type {
      border-top-right-radius: 8px;
    }

    &.selected {
      text-decoration: underline;
    }
  }
}
