//https://coolors.co/dd7c8a-727bf2-ffffff-333333-21897e
//hover one and click the waffle to get shades
$uq-vvlightpurple: #ecedfd;
$uq-vlightpurple: #d9dcfc;
$uq-lightpurple: #c7cafa;
$uq-purple: #727bf2;
$uq-darkpurple: #5761ef;
$midnightpurp: #0a1170;
$forgottenpurp: #45475e;

$uq-vlightpink: #fbeff0;
$uq-lightpink: #f3ced2;
$uq-pink: #dd7c8a;
$uq-darkpink: #cd3c52;
$blush: #d55d6f;
$apocyan: #cef3ef;
$lapocyan: #effbfa;
$celeste: #adebe5;
$lturq: #6bdbd0;
$turq: #3acfc0;
$celadon: #21897e;
$deep-jungle: #14524c;
$old-mint: #659792;
$washed-gray: rgba(0, 0, 0, 0.03);
$light-gray: rgba(0, 0, 0, 0.1);
$medium-gray: rgba(0, 0, 0, 0.2);
$dark-gray: rgba(0, 0, 0, 0.5);
$charcoal: #333;


// inspired by a pen by https://manuel.pinto.dev
@keyframes gradient {
	0% {
		background-position: 0% 0%;
	}
  5% {
    background-position: 100% 0%;
  }
  10% {
		background-position: 100% 100%;
  }
  15% {
		background-position: 0% 100%;
  }
  20% {
		background-position: 0% 0%;
  }
  40% {
		background-position: 100% 0%;
	}
	60% {
		background-position: 100% 100%;
	}
	80% {
		background-position: 0% 100%;
	}
  100% {
		background-position: 0% 0%;
	}
}
