@use '../../styles/colors.scss' as colors;
@use '../../styles/border.scss' as borders;

.test-list {
  overflow-y: auto;

  .result {
    cursor: pointer;
    &:hover {
      opacity: 0.8;
    }
  }
}
