@use '../../styles/colors.scss' as colors;
@use '../../styles/border.scss' as borders;

.test-list {
  overflow-y: auto;

  .result {
    cursor: pointer;
    &:hover {
      opacity: 0.8;
    }
  }

  .test-entry {
    justify-content: space-between;
    margin: 8px;
    padding: 8px;
    border: 1px solid black;
    border-radius: 4px;
    position: relative;
    background-color: white;
    box-shadow: borders.$card-shadow;

    .test-title {
      border-bottom: 1px solid gray;
      padding-bottom: 0.5em;
    }

    &:not(.selected) {
      border-color: lightgray;
    }

    .iconOnly {
      margin-left: 0.5em;
    }
  }
}
