.modal-backdrop {
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2;

  min-height: 10em;
  min-width: 20em;


  .close {
    position: absolute;
    top: 0.5em;
    right: 0.5em;
    font-size: 18px;
    font-weight: 200;
    cursor: pointer;
    transform: rotate(45deg);
  }

  .modal {
    position: relative;
    background-color: white;
    border-radius: 8px;
    padding: 24px;
    font-size: 14px;
    line-height: 24px;
    max-width: calc(100vw - 80px);


    .modal-title {
      margin-top: 0;
      margin-bottom: 0.5em;
    }

    .modal-content {

    }
  }
}
