@use '../../styles/colors.scss' as colors;

.entry {
  padding: 12px 0;

  h3 {
    margin-top:  0;
    margin-bottom: 0.5em;
  }

  &:not(.divide){
    padding-bottom: 0;
  }


  .field {
    margin-left: 1em;
  }
}
