.footer {
  &.splash {
    margin-top: auto !important;
    margin-bottom: -48px !important;
    filter: hue-rotate(262deg) !important;
    padding-bottom: 2em !important;
    background-position-y: bottom !important;
  
    .circled {
      margin: 0 0.6em;
      border: 3px solid;
      padding: 0.1em 0.45em 0.2em;
      border-radius: 9999px;
      font-size: xx-large;
    }
  }
}