
.address-selector {
  width: 140px;
  padding: 4px 8px;
}

.icon {
  &:hover {
    transform: scale(1.1);
  }
}

.mt1 {
  margin-top: 1em;
}

.mr1 {
  margin-right: 1em;
}

.mb1 {
  margin-bottom: 1em;
}

.ml1 {
  margin-left: 1em;
}

.m1 {
  margin: 1em;
}

.m0 {
  margin: 0;
}

.h-screen {
  height: 100vh;
}

.pt1 {
  padding-top: 1em;
}

.pr1 {
  padding-right: 1em;
}

.pb1 {
  padding-bottom: 1em;
}

.pl1 {
  padding-left: 1em;
}

.p0 {
  padding: 0;
}

.p1 {
  padding: 1em;
}

.between {
  justify-content: space-between;
}

.evenly {
  justify-content: space-evenly;
}

.reverse {
  flex-direction: row-reverse;
}

.w100 {
  width: 100%;
}

.wrap {
  flex-wrap: wrap;
}

.grow1 {
  flex-grow: 1;
}

.code-error-underline {
  border-bottom: 1px solid red;
}
