

.address-selector {
  width: 140px;
  padding: 4px 8px;
}

.icon {
  &:hover {
    transform: scale(1.1);
  }
}

.mt1 {
  margin-top: 1em;
}

.mr1 {
  margin-right: 1em;
}

.mb1 {
  margin-bottom: 1em;
}

.ml1 {
  margin-left: 1em;
}

.h-screen {
  height: 100vh;
}

.p0 {
  padding: 0;
}

.error-underline {
  border-bottom: 1px solid red;
}
