.select-app {
  border-radius: 1.5rem;
  
  .app-tile {
    text-decoration: none;
    // position: relative;
    border-radius: 1.5em;
    height: 76px;
    margin: 0.5em;
    padding: 1em;
    
    font-weight: 500;

    &:hover {
      opacity: 0.9;
    }

    .text {


      text-decoration: none;
      color: #eee;
    }
  }

  .background-image {
    position: absolute;
    width: calc(100%);
    height: calc(100vh - 50px);
    margin: -16px -32px 0 -32px;
    object-fit: cover;
    object-position: 50% 50%;
    opacity: 0.7;
  }
}

.logo {
  padding: 2px 8px 2px 12px;
  img {
    height: 28px;
  }
}