@use '../../styles/colors.scss' as colors;

.open-file-header {
  .tab {
    border-radius: 8px 8px 0px 0px;
    text-decoration: none;
    padding: 4px 8px;
    width: 80px;
    height: 20px;
    justify-content: center;
    cursor: pointer;
    text-align: center;
    position: relative;
    flex-direction: row;
    display: flex;

    &.selected {
      background-color: white;
    }
  }

  .sub-tab {
    padding: 4px 8px;
    font-size: 14px;
    width: 80px;
    cursor: pointer;
    background-color: white;
    justify-content: center;

    &:last-of-type {
      border-top-right-radius: 8px;
    }

    &.selected {
      text-decoration: underline;
    }
  }
}
